.pio
.cache
.dummy
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
compile_commands.json

config.h
src/config.h

firmware/src/config.h
firmware/src/config.h

venv
server/venv
server/venv/*
server/__pycache__
server/.env